<div class="container footercontent">
    <div class="footer_people"></div>
    <div class="footer_cloud"></div>
    <div class="row footer">
        <div class="col-md-2 footerlogo">
            <img src="images/logo-2.png" alt="">
        </div>
        <div class="col-md-6 footertext">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-4"><a href="login/360login.html">VR</a></div>
                <div class="col-md-4 col-sm-4 col-4"><a href="index.html#section2">小故事</a></div>
                <div class="col-md-4 col-sm-4 col-4"><a href="index.html#section3">饗食記</a></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-4"><a href="index.html#section4">課程花絮</a></div>
                <div class="col-md-4 col-sm-4 col-4"><a href="about.html">關於我們</a></div>
                <div class="col-md-4 col-sm-4 col-4"><a href="Founding.html">創刊號</a></div>
            </div>
        </div>
        <div class="col-6 col-md-4"></div>
    </div>
</div>