@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
}

canvas {
  mix-blend-mode: screen;
}

#texts {
  color: #ebe3e0;
  position: absolute;
  left: 50px;
  top: 5px;
  padding: 10px;
}

#texts h1 {
  font-size: 24px;
  margin: 0;
  width: 300px;
}

#texts h3 {
  margin: 0;
  width: 300px;
  font-weight: normal;
  text-align: justify;
}

.sideBar {
  position: absolute;
  width: 30px;
  height: 100%;
  left: 0;
  z-index: 999;
  background: rgba(241, 169, 147, 0.8);
  transition: 0.5s;
  cursor: pointer;
  overflow-y: auto;
}

.sideBar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sideBar::-webkit-scrollbar-thumb {
  background: #8f5f53;
  border-radius: 5px;
}

.sideBar>h3 {
  display: none;
  margin: 15px 0;
  font-size: 32px;
  color: #393533;
}

.sideBar:hover>p {
  display: none;
}

.sideBar>p {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 100%;
  padding-right: 10px;
  transition: 0.5s;
  margin: 0;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}
.sideBar>p>svg{
  width: 30px;
}

.sideBar>.buttonGroup {
  display: none;
  width: 0px;
  transition: 0.5s;
}

.sideBar:hover {
  width: 300px;
}

.sideBar:hover~canvas {
  pointer-events: none;
}

.sideBar:hover>h3 {
  text-align: center;
  display: block;
}

.sideBar:hover>.buttonGroup {
  display: block;
  width: 300px;
}

.button {
  color: #393533;
  font-weight: 900;
  width: 200px;
  font-size: 24px;
  margin: 10px auto;
  text-align: center;
  border: 3px solid #393533;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.button:hover,
.button.act {
  background: #393533;
  color: #ebe3e0;
  margin: 10px auto;
  text-align: center;
  border: 3px solid #ebe3e0;
  cursor: pointer;
  border-radius: 10px;
}

.arrowGroup {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 200px;
  height: 60px;
  transform: translateX(-50%);
  text-align: center;
}
.arrowGroup>p{
  font-size: 24px;
  margin: 5px;
  color: #393533;
}
svg#arrowRight,
svg#arrowLeft {
  display: inline-block;
  width: 60px;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: 0.5s;
}

svg#arrowRight {
  right: 0;
}

svg#arrowLeft {
  left: 0;
  transform: rotate(180deg);
}

svg.arrow .cls-1 {
  fill: transparent;
}

svg.arrow:hover .cls-1 {
  fill: #f1a993;
}

svg.arrow .cls-2 {
  fill: #393533;
}