<header class="navbar">
    <div class="container">
        <div class="togglelist">
            <div class="menubar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="logo">
            <a href="index.html">
                <img src="images/logo-2.png" alt="">

            </a>
        </div>
        <ul class="menu hasclass" >
            <div class="menuhearder">
                <img src="images/logo-2.png" alt="">
            </div>
            <li>
                <a href="#" class="currents">VR</a>
            </li>
            <li>
                <a href="#" class="currents">故事</a>
            </li>
            <li>
                <a href="#" class="">創刊號</a>
            </li>
            <li>
                <a href="#">課程花絮</a>
            </li>
            <li>
                <a href="about.html">關於我們</a>
            </li>
            <li>
                <a href="sever.html">學生成果</a>
            </li>
        </ul>
    </div>
</header>